.dialog{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    max-width: 720px;
    border: none;
        .grid{
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        label{
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            input, select, textarea{
                flex: 1;
            }
            textarea{
                height: 100px;
            }
        }
    }
}

@media (max-width: 500px){
    .dialog{
        max-width: 350px;
        .grid{
        grid-template-columns: 1fr;
        label{
            display: flex;
            justify-content: space-between;
        }
    }
    }
}